h1{
	color:black;
	font-weight:bold;
	font-family:"Times New Roman";
	font-size:70px;
	text-align:center;
}
IMG.imgcenter{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border:none;
}
body{
	background-color:#DADADA;
}
hr{height:10px;
background-color:gray;
width:80%;
border-color:black;
}